<h1>Character belonging to <%= @person.name %></h1>

<p>
  <b>Character:</b>
  <%=h @character.name %>
</p>

<p>
  <b>Class:</b>
  <%=h @character.char_class %>
</p>

<p>
  <b>Notes:</b>
  <%=h @character.notes %>
</p>

<%= link_to 'Edit', edit_person_character_path(@person, @character) %> |
<%= link_to 'Back', person_characters_path(@person) %>