<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @person.time_zone %>
</p>

<p>
  <b>Guild:</b>
  <%=h @person.guild %>
</p>

<p>
  <b>Notes:</b>
  <%=h @person.notes %>
</p>

<h2>Characters</h2>
<% @person.characters.each do |c| %>
  <p>
    <b>Character:</b>
    <%=h c.name %>
  </p>

  <p>
    <b>Class:</b>
    <%=h c.class %>
  </p>

  <p>
    <b>Notes:</b>
    <%=h c.notes %>
  </p>
<% end %>

<%= link_to 'Edit Person', edit_person_path(@person) %> |
<%= link_to 'Back to People', people_path %>
<%= link_to 'Manage Characters', person_characters_path(@person) %>